<header>
  <div class="container-outer">
    <div class="container-inner">
      <!-- First Part of the header -->
      <div class="row justify-content-center align-items-center">
        <div
          class="col-lg-3 col-8 col-sm-8 logo pointer"
          [routerLink]="['/']"
          routerLinkActive="router-link-active"
        >
          <img
            src="assets/images/png/sailors-transparent.png"
            class="img-fluid"
            width="200"
          />
        </div>
      </div>

      <!-- Second Part of header -->
      <div class="row">
        <!-- Button for side bar on mobs -->
        <div class="col-2 sidebutton">
          <button (click)="visibleSidebar1 = true" class="navigation">
            <img
              src="assets/images/svg/menu-of-three-lines.svg"
              class="img-fluid"
            />
          </button>
        </div>
        <!-- Second navigation starts here -->
        <div class="col-md-12 navbar">
          <div class="nav d-flex align-items-center justify-content-around">
            <div class="nav-item">
              <a
                [routerLink]="['/web/home']"
                routerLinkActive="active"
                class="nav-link hvr-underline-from-center"
                >Home</a
              >
            </div>
            <div class="nav-item">
              <a
                [routerLink]="['/web/about']"
                routerLinkActive="active"
                class="nav-link hvr-underline-from-center"
                >About</a
              >
            </div>
            <div class="nav-item">
              <a
                routerLinkActive="active"
                class="nav-link hvr-underline-from-center"
                >Customise</a
              >
            </div>
            <!-- <div class="nav-item">
              <a
                routerLinkActive="active"
                class="nav-link hvr-underline-from-center"
                >Packaging</a
              >
            </div> -->
            <div class="nav-item">
              <a
                (click)="open(content)"
                class="nav-link hvr-underline-from-center"
                >Sign Up</a
              >
            </div>
            <div class="nav-item">
              <a
                (click)="openVerticallyCentered(login)"
                class="nav-link hvr-underline-from-center"
                >Login</a
              >
            </div>
            <div class="nav-item">
              <a
                [routerLink]="['/web/artworks']"
                routerLinkActive="active"
                class="nav-link hvr-underline-from-center"
                >Shop</a
              >
            </div>
            <div class="nav-item">
              <a
                routerLinkActive="active"
                class="nav-link blog hvr-underline-from-center"
                >Cart(0)</a
              >
            </div>
            <div class="nav-item">
              <a
                [routerLink]="['/web/contact']"
                routerLinkActive="active"
                class="nav-link blog hvr-underline-from-center"
                >Contact</a
              >
            </div>
          </div>
        </div>
        <!-- Instagram link if to be added -->
        <!-- <div class="col-md-1 col-2 text-right">
          <div class="pointer">
            <a
              href="https://www.instagram.com/teestabhandare/?hl=en"
              target="_blank"
            >
              <svg
                version="1.1"
                id="Capa_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 512 512"
                style="enable-background: new 0 0 512 512"
                xml:space="preserve"
              >
                <g>
                  <g>
                    <path
                      d="M352,0H160C71.648,0,0,71.648,0,160v192c0,88.352,71.648,160,160,160h192c88.352,0,160-71.648,160-160V160
			C512,71.648,440.352,0,352,0z M464,352c0,61.76-50.24,112-112,112H160c-61.76,0-112-50.24-112-112V160C48,98.24,98.24,48,160,48
			h192c61.76,0,112,50.24,112,112V352z"
                    />
                  </g>
                </g>
                <g>
                  <g>
                    <path
                      d="M256,128c-70.688,0-128,57.312-128,128s57.312,128,128,128s128-57.312,128-128S326.688,128,256,128z M256,336
			c-44.096,0-80-35.904-80-80c0-44.128,35.904-80,80-80s80,35.872,80,80C336,300.096,300.096,336,256,336z"
                    />
                  </g>
                </g>
                <g>
                  <g>
                    <circle cx="393.6" cy="118.4" r="17.056" />
                  </g>
                </g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
              </svg>
            </a>
          </div>
        </div> -->
      </div>

      <!-- sailors mobile navigation -->
      <p-sidebar
        [(visible)]="visibleSidebar1"
        [dismissible]="true"
        [baseZIndex]="10000"
      >
        <ul>
          <li (click)="navigate('/blog')">
            <a>Login</a>
          </li>
          <li (click)="navigate('web/about')">
            <a>About</a>
          </li>
          <li (click)="navigate('web/contact')">
            <a>Contact</a>
          </li>
          <li (click)="navigate('web/artworks')">
            <a>Shop</a>
          </li>
          <li (click)="navigate('/about')">
            <a>Customise</a>
          </li>
          <li (click)="navigate('/contact')">
            <a>Cart(0)</a>
          </li>
        </ul>
      </p-sidebar>
    </div>
  </div>
</header>

<!-- Modal For SignUp -->
<ng-template #content let-modal>
  <div class="modal-header">
    <!-- <h4 class="modal-title" id="modal-basic-title">LOGIN</h4> -->
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <!-- <span aria-hidden="true">&times;</span> -->
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="row justify-content-center">
          <div class="col-md-12">
            <input type="text" placeholder="Full Name" />
            <input type="email" placeholder="Email Address" />
            <input type="tel" placeholder="Contact Number" />
            <input type="password" placeholder="Password" />
            <input type="password" placeholder="Confirm Password" />
          </div>
          <div class="text-center col-md-6">
            <button
              type="button"
              class="btn hvr-sweep-to-right w-100"
              (click)="modal.close('Save click')"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="modal-footer"> -->

  <!-- </div> -->
</ng-template>

<!-- Modal for Login -->
<ng-template #login let-modal>
  <div class="modal-header">
    <!-- <h4 class="modal-title">Modal title</h4> -->
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <!-- <span aria-hidden="true">&times;</span> -->
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <!-- <input type="text" placeholder="Full Name" /> -->
          <input type="email" placeholder="Email Address" />
          <!-- <input type="tel" placeholder="Contact Number" /> -->
          <input type="password" placeholder="Password" />
          <!-- <input type="password" placeholder="Confirm Password" /> -->
        </div>
        <div class="text-center col-md-6">
          <button
            type="button"
            class="btn hvr-sweep-to-right w-100"
            (click)="modal.close('Save click')"
          >
            Login
          </button>
        </div>
        <div class="col-md-12 text-center">
          <h4 >New user ? <span (click)="open(content)">Register</span></h4>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div> -->
</ng-template>
