
<!-- sailors -->
<section class="contact">
  <div class="container-outer">
    <div class="container-inner">
      <div class="row align-items-start no-gutters">
        <div class="col-md-6 contact-form">
          <div class="row align-items-start justify-content-center">
            <div class="col-md-11">
              <form>
                <div class="row">
                  <div class="col-md-12">
                    <input type="text" placeholder="Name" />
                    <input type="email" placeholder="Email" />
                    <input type="text" placeholder="Subject" />
                    <input type="tel" placeholder="Contact Number" />
                    <!-- <select class="w-100" placeholder="Query">
                      <option>Query</option>
                    </select> -->
                    <input type="text" placeholder="Subject" />
                    <input type="message" placeholder="Message" class="message" />
                    <button type="submit" class="hvr-sweep-to-right">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-md-5 faqs">
          <h2>Let's talk</h2>
          <h6>GET IN TOUCH ANYTIME</h6>
          <div class="row align-items-center whatsapp">
            <div class="col-2 pr-0">
              <img src="assets/images/svg/phone-call.svg" class="img-fluid" />
            </div>
            <div class="col-9 pl-0">
              <p>WHATSAPP US: <span>+910000000000</span></p>
            </div>
          </div>
          <!-- <p>*Fill out the form below to connect by email.</p> -->
          <p-accordion [multiple]="true">
            <p-accordionTab
              header="HOW CAN I GET IN TOUCH WIH FOR ADDITIONAL INFORMATION ABOUT THE ORDER?"
            >
              You can book a video consultation with your doctor anytime by
              email or by filling the contact form on this page. Additional
              consultations can be booked in the same way.
            </p-accordionTab>
            <p-accordionTab
              header="HOW CAN I GET IN TOUCH WIH FOR ADDITIONAL INFORMATION ABOUT THE ORDER?"
            >
              You can book a video consultation with your doctor anytime by
              email or by filling the contact form on this page. Additional
              consultations can be booked in the same way.
            </p-accordionTab>
            <p-accordionTab
              header="HOW CAN I GET IN TOUCH WIH FOR ADDITIONAL INFORMATION ABOUT THE ORDER?"
            >
              You can book a video consultation with your doctor anytime by
              email or by filling the contact form on this page. Additional
              consultations can be booked in the same way.
            </p-accordionTab>
          </p-accordion>
        </div>
      </div>
    </div>
  </div>
</section>
