<section class="painter">
    <div class="navigation">
        <div class="container-outer">
            <div class="container-inner">
                <div class="row no-gutters">
                    <h2>Artist's Profile</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-outer">
        <div class="container-inner">
            <div class="row profile align-items-start">
                <!-- <div class="col-lg-3 col-sm-6">
                    <img src="assets/images/jpeg/contact-banner.jpg" class="img-fluid" />
                </div> -->
                <div class="col-md-9">
                    <h1>{{artworkData?.painterName}}</h1>
                    <p>Hometown: {{artworkData?.painterHometown}}</p>
                    <p>Lives and Works: {{artworkData?.painterWorkPlace}}</p>
                    <p>{{artworkData?.painterDesc}}</p>
                    <!-- <p>{{artist.desc}}</p>
                    <p>{{artist.desc}}</p>
                    <p>{{artist.desc}}</p>
                    <p>{{artist.desc}}</p> -->
                </div>
            </div>
        </div>
    </div>
</section>