<section class="about">
  <div class="container-outer">
    <div class="container-inner">
      <!-- <div class="row pt-3">
        <div class="col-md-5">
          <img *ngIf="image" [src]="image" class="img-fluid w-100" />
        </div>
        <div class="col-md-7">
          <h2>Teesta Bhandare</h2>
          <p [innerHTML]="aboutData"></p>
        </div>
      </div>
      <div class="featured">
        <hr class="mt-3" />
        <h1>As Featured In</h1>
        <div *ngIf="featured.length > 0" class="d-flex flex-wrap align-items-center justify-content-center">
          <div *ngFor="let data of featured" class="col-md-3 col-sm-3 col-6">
            <img [src]="data?.image" />
          </div>
        </div>
      </div> -->
      <!-- sailors about starts here -->
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Who Are We?</h1>
          <p>
            <span>SAILOR'S ART</span> is guided by
            <span>Mr. Mohammad Yameen</span> who have extensive experience and
            deep passion for antiques, replicas and strong creativity in the
            field of Art. We strongly believe that we are spreading positivity,
            peace of mind and happiness across the globe by manufacturing and
            delivering products like nautical items, home decore items, medieval
            age replicas, antique items, brass art ware products, religious
            instruments .
          </p>
          <p>
            Thus, we also believe that these products must be hand crafted with
            pure heart, honest minds and secred intentions and that is where
            SAILOR'S ART is different from others. We put our hearts and minds
            in designing and manufacturing of these product with a clear
            intention to create high quality products with great finishing and
            beautiful looks which not only provide experience to be cherished
            for lifetime but sothe souls also. We have a strong team of
            craftsmen who know exact use technology and tools to produce these
            products.
          </p>
          <div class="row justify-content-center">
            <div class="col-md-3">
              <button type="submit" class="hvr-sweep-to-right">See More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="why-us">
  <div class="container-outer">
    <div class="container-inner">
      <div class="row align-items-center">
        <div class="col-md-6 text-left">
          <h1>Our High Standards</h1>
          <p>
            We offers top most categories in its collection of Antique &
            Nautical Items. Beside this, the company offers the largest
            collection of Home Decor items and general/promotional gift items.
            We are always prepared to better understand the needs of our
            clients, and we always remember that our responsibility is resolving
            all doubts and difficulties in the mind of customer about products.
            Each piece is perfectly crafted and polished to provide fantastic
            appearance that buyers feel like treasure it for a lifetime.
            Importance is given to packaging of products as well, beautiful
            packing bags and covers prevents the valuable items from scratches
            or damages.
          </p>
        </div>
        <div class="col-1"></div>
        <div class="col-md-5">
          <!-- <div class="img1"> -->
            <img src="assets/images/png/design1.png" class="img-fluid" />
          <!-- </div> -->
          <!-- <div class="img2">
            <img src="assets/images/png/antique.png" class="img-fluid" />
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<section class="why-us">
  <div class="container-outer">
    <div class="container-inner">
      <div class="row">
        <div class="col-md-5 images">
          <div class="img1">
            <img src="assets/images/png/8.png" class="img-fluid" />
          </div>
          <div class="img2">
            <img src="assets/images/png/antique.png" class="img-fluid" />
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-md-6 text-left">
          <h1>Founder's Experience</h1>
          <p>
            Our business operations are led by Mohammad yameen , who has with
            him passion for designs, a strong creativity and extensive
            experience in this field of art. His close monitoring and guidance
            on the involved processes as well as dedicated service support from
            experienced artisans and other staff allow us to deliver in the end
            product exclusive finish as desired by our customers. Further, we
            can also carry out in the end products customized changes as defined
            by them. we have successfully emerged as a leading Global Company
            manufacturing, exporting and delivering Antique Items , Nautical
            Items , Home Dacore, Brass Art Ware Items etc.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="why-us">
  <div class="container-outer">
    <div class="container-inner">
      <div class="row">
        <div class="col-md-6 text-left">
          <h1>IT Enabled Infrastructure</h1>
          <p>
            We have state-of-the-art that is - IT enabled infrastructure owing to which we
            have successfully improved our production capacity and quality of
            the products. Our company has a fully computerized modern design
            studio and latest tools and machineries to meet the international
            trends. Our constant R&D has led us to the development of new range
            and also make certain about the improvisation in the existing ones.
            We have therefore subjected our products to various tests to ensure
            that the best quality standards are met.
          </p>
        </div>
        <div class="col-1"></div>
        <div class="col-md-5 images">
          <div class="img1">
            <img src="assets/images/png/8.png" class="img-fluid" />
          </div>
          <div class="img2">
            <img src="assets/images/png/antique.png" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
