<section class="home">
  <!-- <div class="row no-gutters">
    <div class="col-md-12">
      <ngb-carousel pauseOnHover="false" class="w-100">
        <ng-template ngbSlide>
          <div class="row">
            <div class="col-md-12 img">
              <img
                src="assets/images/png/10.png"
                class="img-fluid w-100 h-100"
              />
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row">
            <div class="col-md-12 img">
              <img
                src="assets/images/png/12.png"
                class="img-fluid w-100 h-100"
              />
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row">
            <div class="col-md-12 img">
              <img
                src="assets/images/png/13.png"
                class="img-fluid w-100 h-100"
              />
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row">
            <div class="col-md-12 img">
              <img
                src="assets/images/png/11.png"
                class="img-fluid w-100 h-100"
              />
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row">
            <div class="col-md-12 img">
              <img
                src="assets/images/png/28.png"
                class="img-fluid w-100 h-100"
              />
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row">
            <div class="col-md-12 img">
              <img
                src="assets/images/png/28.png"
                class="img-fluid w-100 h-100"
              />
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row">
            <div class="col-md-12 img">
              <img
                src="assets/images/png/29.png"
                class="img-fluid w-100 h-100"
              />
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row">
            <div class="col-md-12 img">
              <img
                src="assets/images/png/30.png"
                class="img-fluid w-100 h-100"
              />
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div> -->

  <section class="welcome">
    <div class="container-outer">
      <div class="container-inner">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>Welcome to Sailor's Art</h1>
            <p>
              SAILOR'S ART is a professional manufacturing company Established
              in 1982 at Roorkee, Uttarakhand , India by
              <span>Mr. MOHAMMAD YAMEEN</span>. Mr. YAMEEN has extensive
              experience, deep passion for antiques & Nautical Items and strong
              creativity in the field of Art, We strongly believe that we are
              spreading positivity, peace of mind and happiness across the globe
              by manufacturing and delivering products like nautical items, home
              decore items, medieval age replicas, antique items, brass art ware
              products, religious instruments . Hence we also believe that these
              products must be hand crafted with pure heart, honest minds and
              secred intentions and that is where SAILOR'S ART is different from
              others. We put our hearts and minds in designing and manufacturing
              of these product with a clear intention to create high quality
              products with great finishing and beautiful looks which not only
              provide experience to be cherished for lifetime but sothe souls
              also. We have a strong team of craftsmen who know exact use
              technology and tools to produce these products.
            </p>
            <div class="row justify-content-center">
              <div class="col-md-3">
                <button type="submit" class="hvr-sweep-to-right">
                  See More
                </button>
              </div>
            </div>
            <!-- <div class="row justify-content-center"> -->
              <!-- <p-carousel [value]="products">
                <ng-template let-product pTemplate="item">
                  {{ product?.image }}
                </ng-template>
              </p-carousel> -->
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="why-us">
    <div class="container-outer">
      <div class="container-inner">
        <div class="row">
          <div class="col-md-6 text-left">
            <h1>Why Choose Us ?</h1>
            <p>
              We offers top most categories in its collection of Antique &
              Nautical Items. Beside this, the company offers the largest
              collection of Home Decor items and general/promotional gift items.
              We are always prepared to better understand the needs of our
              clients, and we always remember that our responsibility is
              resolving all doubts and difficulties in the mind of customer
              about products. Each piece is perfectly crafted and polished to
              provide fantastic appearance that buyers feel like treasure it for
              a lifetime. Importance is given to packaging of products as well,
              beautiful packing bags and covers prevents the valuable items from
              scratches or damages.
            </p>
          </div>
          <div class="col-1"></div>
          <div class="col-md-5 images">
            <div class="img1">
              <img src="assets/images/png/8.png" class="img-fluid" />
            </div>
            <div class="img2">
              <img src="assets/images/png/7.png" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="why-us">
    <div class="container-outer">
      <div class="container-inner">
        <div class="row">
          <div class="col-md-5 images">
            <div class="img1">
              <img src="assets/images/png/online.png" class="img-fluid" />
            </div>
            <div class="img2">
              <img src="assets/images/png/antique.png" class="img-fluid" />
            </div>
          </div>
          <div class="col-1"></div>
          <div class="col-md-6 text-left">
            <h1>Multi Valued Store</h1>
            <p>
              We offers top most categories in its collection of Antique &
              Nautical Items. Beside this, the company offers the largest
              collection of Home Decor items and general/promotional gift items.
              We are always prepared to better understand the needs of our
              clients, and we always remember that our responsibility is
              resolving all doubts and difficulties in the mind of customer
              about products. Each piece is perfectly crafted and polished to
              provide fantastic appearance that buyers feel like treasure it for
              a lifetime. Importance is given to packaging of products as well,
              beautiful packing bags and covers prevents the valuable items from
              scratches or damages.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="why-us">
    <div class="container-outer">
      <div class="container-inner">
        <div class="row">
          <div class="col-md-6 text-left">
            <h1>High Quality Products</h1>
            <p>
              We offers top most categories in its collection of Antique &
              Nautical Items. Beside this, the company offers the largest
              collection of Home Decor items and general/promotional gift items.
              We are always prepared to better understand the needs of our
              clients, and we always remember that our responsibility is
              resolving all doubts and difficulties in the mind of customer
              about products. Each piece is perfectly crafted and polished to
              provide fantastic appearance that buyers feel like treasure it for
              a lifetime. Importance is given to packaging of products as well,
              beautiful packing bags and covers prevents the valuable items from
              scratches or damages.
            </p>
          </div>
          <div class="col-1"></div>
          <div class="col-md-5 images">
            <div class="img1">
              <img src="assets/images/png/4.png" class="img-fluid" />
            </div>
            <div class="img2">
              <img src="assets/images/png/6.png" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="services">
    <div class="container-outer">
      <div class="container-inner">
        <div class="row justify-content-center align-items-center">
          <h1>Our Services</h1>
          <div class="col-md-12">
            <div class="row align-items-center">
              <div class="col-md-6">
                <img src="assets/images/png/certi.png" class="w-100" />
              </div>
              <div class="col-md-6">
                <h2>FINE FINISHING</h2>
                <p>
                  Our skilled craftsmen make sure that all products are
                  manufactured with smooth and fine finishing. We follow strict
                  quality criteria while manufacturing all our products for
                  supply, delivery and export.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row align-items-center">
              <div class="col-md-6">
                <h2>SAFE PACKAGING</h2>
                <p>
                  We have done a lot of R&D on packaging. We have seperate
                  packaging for each and every product according to the
                  packaging need. We make sure that products reach to you safe
                  and as it is.
                </p>
              </div>
              <div class="col-md-6">
                <img src="assets/images/png/packaging.png" class="w-100" />
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row align-items-center">
              <div class="col-md-6">
                <img src="assets/images/png/free-ship.png" class="w-100" />
              </div>
              <div class="col-md-6">
                <h2>FAST HASSLE FREE SHIPPING</h2>
                <p>
                  With the help of premium logistics vendor and our stock
                  management ability, we are able to ship all order with in time
                  frame without any delay. We are able to ship via every mode of
                  shipment.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
