@import "../../../../styles.scss";

.artwork-details {
  padding: 20px 0 50px;

  .image {
    border: 1px solid #d2d2d27a;
    padding: 0px;
    position: relative;
    // width: 300px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;

    img {
      position: absolute;
      // max-width: 100%;
      // width: auto;
      // height: 100%;
      max-width: 100%;
      max-height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .detail {
    padding: 20px 0 0;

    h1 {
      font-family: "Playfair Display";
      font-size: 25px;
      font-weight: bold;
      letter-spacing: 0.44px;
      margin-bottom: 5px;
    }

    h5 {
      font-family: benton-sans, sans-serif;
      font-size: 14px;
      margin-bottom: 30px;

      a {
        color: $theme-gray;
      }
    }

    .overview {
      margin-bottom: 20px;

      h3 {
        font-family: "Playfair Display";
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 30px;
        letter-spacing: 0.44px;
        position: relative;

        &::after {
          content: "";
          width: 60px;
          height: 2px;
          position: absolute;
          background-color: $theme-peach;
          left: 0;
          bottom: -10px;
        }
      }

      p {
        font-family: benton-sans, sans-serif;
        font-size: 14px;
        margin-bottom: 0px;
      }
    }

    .dimension {
      margin-bottom: 20px;

      h3 {
        text-transform: uppercase;
        font-family: "Playfair Display";
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.44px;
        margin-bottom: 30px;
        position: relative;

        &::after {
          content: "";
          width: 60px;
          height: 2px;
          position: absolute;
          background-color: $theme-peach;
          left: 0;
          bottom: -10px;
        }
      }

      p {
        font-family: benton-sans, sans-serif;
        font-size: 14px;
        margin-bottom: 20px;

        &.note {
          color: $theme-gray;
          font-size: 12px;
          font-family: "Playfair Display";
        }
      }
    }
  }

  .buy {
    a {
      background-color: $theme-peach;
      font-family: "Playfair Display";
      color: $theme-white;
      font-weight: bold;
      font-size: 14px;
      padding: 11px 22px;
      display: inline-block;

      &:hover {
        text-decoration: none;
      }
    }
  }
}